body,html {
	margin:0;
}

#header {
	position:absolute;
	top: 20px;
	left: 20px;
	right: 200xp;
	width: 10%;
	height: 10px;
	border: 1px solid black;
	background-color: black;
}

#stuff {
    position:absolute;
	top: 20px;
	left: 1240px;
	right: 20xp;
	width: 3%;
	height: 20px;
	border: 1px solid black;
	background-color: black;
	
}

#stuff7 {
	position:absolute;
	top: 20px;
	left: 1305px;
	right: 20xp;
	width: 3%;
	height: 20px;
	border: 1px solid black;
	background-color: black;

}

#things {
	position:absolute;
	top: 20px;
	left: 1370px;
	right: 20xp;
	width: 3%;
	height: 20px;
	border: 1px solid black;
	background-color: black;
}

#navbar {
	position:absolute;
	top:100px;
	left:20px;
	right:5px;
	width: 97%;
	height:400px;
	border:1px solid black;
	background-color: black;
}

#things7 {
	position:absolute;
	top:600px;
	left:20px;
	right:5px;
	width: 45%;
	height:250px;
	border:1px solid black;
	background-color: black;


}

#things77 {
	position:absolute;
	top:600px;
	left:770px;
	right:5px;
	width: 45%;
	height:250px;
	border:1px solid black;
	background-color: black;




}
